services:
    request:
        class: Tourbillon\Request\HttpRequest
    router.provider:
        class: Tourbillon\Provider\RouterProvider
    router:
        class: Tourbillon\Router\Router
        arguments: [@request]
        factory: [@router.provider, "createInstance"]
    view.factory:
        class: Tourbillon\Response\ViewFactory
    response:
        class: Tourbillon\Response\HttpResponse
    dbal.provider:
        class: Tourbillon\Provider\DbalProvider
    dbal:
        class: Tourbillon\Response\HttpResponse
        factory: [@dbal.provider, "createInstance"]
