services:
    request:
        class: Tourbillon\Request\HttpRequest
    router:
        class: Tourbillon\Router\Router
        arguments: [@request]
    response:
        class: Tourbillon\Response\HttpResponse

