services:
    request:
        class: Tourbillon\Request\HttpRequest
    router:
        class: Tourbillon\Provider\RouterProvider
        arguments: [@request]
    response:
        class: Tourbillon\Response\HttpResponse

