services:
    request:
        class: Tourbillon\Request\HttpRequest
    router.provider:
        class: Tourbillon\Provider\RouterProvider
    router:
        class: Tourbillon\Router\Router
        arguments: [@request]
        factory: [@router.provider, "createInstance"]
    response:
        class: Tourbillon\Response\HttpResponse
